@use '@angular/material' as mat;

:root {
  --background-color: #fff;
  --highlight-color: #eee;

  --border-radius: 8px;

  --default-padding: 1rem;
  --small-padding: 0.5rem;
}

@mixin shadow() {
  @include mat.elevation(5);
}

@mixin title() {
  font-size: 1.25rem;
  font-weight: 600;
}

@mixin subtitle() {
  font-size: 1rem;
  font-weight: 600;
}

@mixin text() {
  font-size: 0.875rem;
  font-weight: 400;
}

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-align($justify: flex-start, $align: center) {
  align-items: $align;
  justify-content: $justify;
}
