/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'mixins';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'roboto', 'open-sans', 'helvetica', sans-serif;
  overflow: hidden;
  height: 100%;
}

html {
  box-sizing: border-box;
}

input,
button,
textarea,
*::placeholder {
  font-family: 'roboto', 'open-sans', 'helvetica', sans-serif;
}

button:focus,
canvas:focus {
  outline: none;
}

.mapboxgl-missing-css {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
