<h1 class="title">All Lines</h1>

<div class="lines-list">
  <div class="line-item" *ngFor="let line of lines$ | async">
    <div class="line-header">
      <mat-icon>directions_transit</mat-icon>
      <h2 class="subtitle">{{line.lineId}}</h2>
      <span class="stops-count">{{line.numberOfStops}} Stops</span>
    </div>
    <div class="stops-list">
      <div (click)="selectStop(stop.stopId)" class="stop-item" *ngFor="let stop of line.stops">
        <mat-icon>stop_circle</mat-icon>
        <span>{{stop.name}}</span>
      </div>
    </div>
  </div>
</div>