<h1>All Lines</h1>

<div class="lines-list">
  <div class="line-item" *ngFor="let line of lines$ | async">
    <h2>{{line.lineId}} ({{line.numberOfStops}} Stops)</h2>
    <mat-list dense class="stops-list">
      <mat-list-item matRipple (click)="selectStop(stop.stopId)" class="stop-item" *ngFor="let stop of line.stops">
        <span>{{stop.name}}</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<!-- TODO add the possibility to collapese/expand the list of stops -->

<!-- TODO add ad visulaization of the stops properties -->